<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-include header%>
    <div class="main">
    	<h1>Index</h1>
      <%if(success){%>
        <%=success%>
      <%}%>
      <%if(error){%>
        <%=error%>
      <%}%>
    </div>
    
    <%if(postList){%>
    <dl>
      <%postList.forEach(function(v, k){%>
        <dt><%=v.title%></dt>
        <dd><%=v.content%></dd>
      <%})%>
      
    </dl>
	  <%}%>
    <%-include footer%>
  </body>
</html>